{
  "env": {
    "mocha": true
  },

  "plugins": [
    "import"
  ],

  "rules": {
    "no-unused-expressions": "off",
    "padded-blocks": "off",

    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  }
}
